-e .
mypy
notebook
pre-commit
pytest
ruff
auto_mix_prep==0.2.0
numpy~=1.26.3
pandas~=2.1.4
Requests~=2.31.0
spotipy==2.23.0

flask~=2.2.5
werkzeug~=2.2.3
pydantic~=2.11.2

click~=8.1.7

rapidfuzz~=3.13.0
